.wrapper {
    display: flex;
}
.people {
    height: 922px;
    width: 240px;
    background-color: rgba(196, 196, 196, 0.2);
    margin-left: 20px;
    margin-right: 50px;
} 
.title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #6045E2;
    margin-left: 59px;
    margin-top: 21px;
    margin-bottom: 34px;
}
.communication {
    position: absolute;
}
.newDialog {
    width: 500px;
    margin-left: 20px;
    height: 95px;
    margin-top: 50px;
}
.btnDialog {
    padding: 2% 4%;
    margin-left: 455px;
    border: none;
    color: #fff;
    background-color: #6045E2;
    margin-top: 10px;
}